<div class="container">
  <div class="form">
    <div>
      <div style="padding-top: 5px" class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Nickname" [(ngModel)]="userNickname">
      </div>
      <div style="padding-top: 5px" class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input type="password" pInputText placeholder="Password" [(ngModel)]="userPassword">
      </div>
      <div style="padding-top: 5px;" class="ui-inputgroup">
        <p-button style="{padding-top: 5px; width: 100% }" label="Sign In" (onClick)="signInSubmit()"></p-button>
      </div>
      <div class="ui-inputgroup" style="padding-top: 5px">
        <div class="ui-g">
          <div class="ui-g-6">
            <p>Do not have an account? Please sing up.</p>
          </div>
          <div class="ui-g-6">
            <p-button label="Sign up" routerLink="/registration"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
