<div class="container">
  <h2>Best potential interlocutors</h2>
  <div class="form">
    <div>
      <app-chat-notification [isVisible]="isStartChatNotificationVisible"
                             [senderNickname]="getChatSenderUsername()"
                             (dismissStartChat)="dismissStartChat()"
                             (acceptStartChat)="acceptStartChat()"></app-chat-notification>
      <div *ngIf="!isChatVisible" class="container">
        <h3 *ngIf="!!message">{{message}}</h3>
        <div style="padding-top: 10px">
          <p-listbox [options]="users" [(ngModel)]="selectedUser" optionLabel="nickname"></p-listbox>
          <div class="ui-inputgroup" style="padding-top: 10px">
            <p-button label="Start Chat" (onClick)="startChat()"></p-button>
          </div>
        </div>
      </div>

      <app-chat (closeChat)="closeChat()"></app-chat>
    </div>
  </div>
</div>
