<div class="container">
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="Nickname" [(ngModel)]="nickname">
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
    <input type="password" pInputText placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="ui-g">
    <div class="ui-g-4">
      <div *ngFor="let foodOption of foodOptions" class="ui-g">
        <div class="ui-g-6">
          <div>{{ foodOption.name }}</div>
        </div>
        <div class="ui-g-6">
          <p-dropdown [options]="ratingOptions" [(ngModel)]="foodOption.rating" placeholder="Rate a {{ foodOption.name }}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g-4">
      <div *ngFor="let musicOption of musicOptions" class="ui-g">
        <div class="ui-g-6">
          <div>{{ musicOption.name }}</div>
        </div>
        <div class="ui-g-6">
          <p-dropdown [options]="ratingOptions" [(ngModel)]="musicOption.rating" placeholder="Rate a {{ musicOption.name }}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g-4">
      <div *ngFor="let movieOption of movieOptions" class="ui-g">
        <div class="ui-g-6">
          <div>{{ movieOption.name }}</div>
        </div>
        <div class="ui-g-6">
          <p-dropdown [options]="ratingOptions" [(ngModel)]="movieOption.rating" placeholder="Rate a {{ movieOption.name }}"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-inputgroup">
    <p-button label="Sign Up" (onClick)="signUp()"></p-button>
  </div>
</div>

<p-dialog header="Error" [(visible)]="errorMessage" [resizable]="false" [modal]="true" [responsive]="true" [width]="350"
          [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <span>{{ errorMessage }}</span>
  <p-footer>
    <button type="button" pButton (click)="errorMessage = undefined" label="Close"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Success" [(visible)]="successMessage" [resizable]="false" [modal]="true" [responsive]="true"
          [width]="350" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <span>{{ successMessage }}</span>
  <p-footer>
    <button type="button" pButton (click)="confirmSuccessRegistration()" label="Go to login page"></button>
  </p-footer>
</p-dialog>
