<body>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div *ngFor="let preferenceOption of preferenceOptions" class="ui-g">
        <div class="ui-g-6">
          <div>{{ preferenceOption.name }}</div>
        </div>
        <div class="ui-g-6">
          <input type="number" pInputText placeholder="Rate {{preferenceOption.name}} (0-100)" [(ngModel)]="preferenceOption.rating">
        </div>
      </div>
    </div>
  </div>
  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="Nickname" [(ngModel)]="nickname">
    <input type="password" pInputText placeholder="Password" [(ngModel)]="password">
    <p-button label="Sign Up" style="width:10px" (onClick)="signUp()"></p-button>
  </div>
</div>

<p-dialog header="Error" [(visible)]="errorMessage" [resizable]="false" [modal]="true" [responsive]="true" [width]="350"
          [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <span>{{ errorMessage }}</span>
  <p-footer>
    <button type="button" pButton (click)="errorMessage = undefined" label="Close"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Success" [(visible)]="successMessage" [resizable]="false" [modal]="true" [responsive]="true"
          [width]="350" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <span>{{ successMessage }}</span>
  <p-footer>
    <button type="button" pButton (click)="confirmSuccessRegistration()" label="Go to login page"></button>
  </p-footer>
</p-dialog>
</body>
