<div class="container" *ngIf="isChatVisible" style="padding-top: 10px">
  <h3 *ngIf="!!senderNickname">Chat with {{senderNickname}}</h3>
  <hr/>
  <p-scrollPanel class="ui-scrollpanel-bar-y" [style]="{width: '200px', maxWidth:'200px', height: '200px', border: 'none'}">
    <div *ngFor="let message of messages">
      <div *ngIf="message.isReceived" style="color:red">
        {{ message.message }}
      </div>
      <div *ngIf="!message.isReceived" style="color: green">
        {{ message.message }}
      </div>
    </div>
  </p-scrollPanel>
  <br>
  <div class="ui-inputgroup">
    <label>
      <textarea rows="1" cols="21" placeholder="..." pInputTextarea [(ngModel)]="currentUserMessage"></textarea>
    </label>
    <p-button id="sendMessage" label="Send" (onClick)="sendMessage()"></p-button>
  </div>
  <div class="ui-inputgroup">
    <p-button label="Stop Chat" (onClick)="stopChat()"></p-button>
  </div>
</div>

<p-dialog header="End Chat Notification" [resizable]="false" [visible]="endChatNotificationMessage" [modal]="true" [responsive]="true"
          [width]="350" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <span>{{endChatNotificationMessage}}</span>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="closeChatWindow()" label="Ok"></button>
  </p-footer>
</p-dialog>
